PerlAuthenHandler Sample::AuthCookieHandler->authen
PerlAuthzHandler Sample::AuthCookieHandler->authz
AuthType Sample
AuthName WhatEver
PerlSetVar WhatEverPath /unprotected
PerlSetVar WhatEverLoginScript /unprotected/login.pl
